* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

:root {
  --TextGray: #5d6c7b;
  --TextBold: #282739;
  --TextLight: #ffffff;
  --ColorMain: #6f73ee;
  --CardHit: #ee685f;
  --CardNew: #75d14a;
}

body {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  font-size: 3.1875rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}
address {
  all: unset;
}

.container {
  max-width: 71.875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 0 auto;
}

/* START Header */
/* Header-top */
.top-header {
  border-bottom: 1px solid #ecf3ff;
  padding: 11px 0;
}

.top-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 1.875rem;
}

.top-header-link {
  font-weight: 400;
  font-size: 1rem;
  color: var(--TextGray);
}

.top-header-social {
  display: flex;
  flex-grow: 1;
  gap: 0.5313rem;
}

.header-phone-link {
  font-size: 1rem;
  color: var(--TextBold);
  font-weight: 500;
}

/* Footer-Headrer */

.footer-header {
  margin-top: 1.875rem;
}

.footer-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: var(--TextBold);
  text-transform: uppercase;
  cursor: pointer;
}
.catalog {
  border: none;
  border-radius: 6px;
  padding: 9px 18px 9px 41px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--TextLight);
  background-color: var(--ColorMain);
  margin-right: -20px;
  position: relative;
  cursor: pointer;
}
.catalog:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 13px;
  background-image: url("../img/icon/burger.svg");
  background-size: cover;
  position: absolute;
  top: 11px;
  left: 13px;
  z-index: 2;
}

.search-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%; /* Задайте ширину 100% для родителя */
  max-width: 603px; /* Ограничьте максимальную ширину */
  margin-right: 30px;
}

.search {
  display: block;
  border: 2px solid var(--ColorMain);
  border-radius: 5px;
  max-width: 100%; /* Убедитесь, что max-width работает правильно */
  width: 100%; /* Задайте ширину 100%, чтобы заполнять родителя */
  font-size: 14px;
  color: var(--TextGray);
  padding: 0.635rem 1.25rem;
}

.search-btn {
  background-color: var(--ColorMain);
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 12px;
  margin-left: -3px;
  cursor: pointer;
}

.favorites {
  display: flex;
  gap: 25px;
}

.user-bascet {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.btn-bascet {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--TextGray);
  padding: 0;
  cursor: pointer;
}

/* START Section-legend */

.section-legend {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 86.25rem;
  height: 33rem;
  margin: 40px auto;
  padding-bottom: 50px;
  padding-top: 50px;
  position: relative;
  z-index: 2;
}

.section-legend::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(111, 115, 238);
  background: linear-gradient(
    90deg,
    rgba(111, 115, 238, 1) 35%,
    rgba(0, 212, 255, 0) 100%
  );
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.hero-address {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--TextLight);
  margin-bottom: 1.25rem;
  margin-top: 20px;
}

.legend-work-hours {
  font-size: 1rem;
  color: var(--TextLight);
  font-weight: 500;
  opacity: 50%;
}

.legend-title {
  font-size: 55px;
  max-width: 45rem;
  color: var(--TextLight);
  margin-bottom: 0.4375rem;
}

.legend-text {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--TextLight);
  margin-bottom: 1.75rem;
}

.legend-strengths {
  display: flex;
  align-items: center;
  gap: 2.1875rem;
  margin-top: 20px;
}

.legend-strengths {
  display: flex;
  align-items: center;
  gap: 20px;
}

.legend-icon {
  display: inline-block;
  background-color: rgb(255, 255, 255, 0.2);
  padding: 22px;
  border-radius: 5px;
}

.strengths-text {
  width: 150px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--TextLight);
}

.btn-caling {
  border: none;
  background-color: var(--TextLight);
  color: var(--ColorMain);
  font-size: 1rem;
  padding: 1rem 4.5rem;
  margin-top: 80px;
}
