* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --TextGray: #5d6c7b;
  --TextBold: #282739;
  --TextLight: #ffffff;
  --ColorMain: #6f73ee;
  --CardHit: #ee685f;
  --CardNew: #75d14a;
}

body {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  font-size: 3.1875rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}
address {
  all: unset;
}

.container {
  max-width: 71.875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 0 auto;
}

/* START Header */
/* Header-top */
.top-header {
  border-bottom: 1px solid #ecf3ff;
  padding: 11px 0;
}

.top-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 1.875rem;
}

.top-header-link {
  font-weight: 400;
  font-size: 1rem;
  color: var(--TextGray);
}

.top-header-social {
  display: flex;
  flex-grow: 1;
  gap: 0.5313rem;
}

.header-phone-link {
  font-size: 1rem;
  color: var(--TextBold);
  font-weight: 500;
}

/* Footer-Headrer */

.footer-header {
  margin-top: 1.875rem;
}

.footer-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: var(--TextBold);
  text-transform: uppercase;
  cursor: pointer;
}
.catalog {
  border: none;
  border-radius: 6px;
  padding: 9px 18px 9px 41px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--TextLight);
  background-color: var(--ColorMain);
  margin-right: -20px;
  position: relative;
  cursor: pointer;
}
.catalog:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 13px;
  background-image: url("../img/icon/burger.svg");
  background-size: cover;
  position: absolute;
  top: 11px;
  left: 13px;
  z-index: 2;
}

.search-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%; /* Задайте ширину 100% для родителя */
  max-width: 603px; /* Ограничьте максимальную ширину */
  margin-right: 30px;
}

.search {
  display: block;
  border: 2px solid var(--ColorMain);
  border-radius: 5px;
  max-width: 100%; /* Убедитесь, что max-width работает правильно */
  width: 100%; /* Задайте ширину 100%, чтобы заполнять родителя */
  font-size: 14px;
  color: var(--TextGray);
  padding: 0.635rem 1.25rem;
}

.search-btn {
  background-color: var(--ColorMain);
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 12px;
  margin-left: -3px;
  cursor: pointer;
}

.favorites {
  display: flex;
  gap: 25px;
}

.user-bascet {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.btn-bascet {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--TextGray);
  padding: 0;
  cursor: pointer;
}

/* START Section-HERO */
.section-hero {
  margin-top: 2.5rem;
}

.hero-banner {
  display: block;
  max-width: 86.25rem;
  height: 445px;
  margin: 0 auto;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.625rem;
  position: relative;
}

.hero-banner::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 0.625rem;
  background: linear-gradient(
    18.78deg,
    rgb(111, 115, 238) 17.368%,
    rgba(111, 115, 238, 0) 67.018%
  );
  z-index: 1;
}

.hero-content {
  max-width: 40rem;
  padding-top: 56px;
  padding-bottom: 56px;
  max-height: 27.8125rem;
  position: relative;
  z-index: 2;
}

.address-schedule {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.hours {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  opacity: 0.7;
}

.hero-title {
  margin-top: 1.1875rem;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.hero-descr {
  margin-top: 7px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  margin-bottom: 1.75rem;
}

.hero-test-drive-wrapper {
  display: flex;
  gap: 2.1875rem;
  margin-bottom: 2.375rem;
}

.hero-test-drive {
  display: flex;
  gap: 15px;
  align-items: center;
  max-width: 12.8125rem;
}

.hero-test-drive-img {
  display: inline-block;
  padding: 12px;
  border-radius: 5px;
  background: rgb(255, 255, 255, 0.2);
}

.hero-test-drive-descr {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}

.btn-hero {
  display: inline-block;
  width: 159px;
  height: 53px;
  border: none;
  border-radius: 5px;
}
